footer {
    margin-top: 20px;
}


/* .bg {
    background-color: black !important;
} */

.form {
    padding-top: 30px;
}

.summary {
    margin-top: 40px;
}


/* <div class="bg-dark"><div class="float-right"><span class="text-muted">Project Explorer © 2020.</span><span>Edconnect</span></div></div> */


/* btn-lg */